body {
  width: 120px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

#text {
  padding-top: 10px;
  font-size: 14px;
  color: grey;
}
